.signin {
  max-width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.signin__container {
  width: 100%;
  height: 800px;
  border-radius: 30px;
  display: flex;
  padding: 0px !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.signin__left {
  flex: 1 1 50%;
  border-radius: 30px;
  -webkit-border-radius: 30px 0px 0px 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #f4f6f8;
}
.signin__rigth {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin__rigth-contents {
  width: 400px;
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
}
.form {
  width: 100%;
  height: 100%;
}
.form__email {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }
}
.form__password {
  width: 100%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
  }
}
.form__button {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
  }
}
