.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 39px;
    color: #c9d1d3;
  }
}
.darkTodo {
  background-color: #001e3b;
  h1 {
    color: #56b2fb;
  }
}
