.headermain {
  width: 100%;
  height: 50px;
  background-color: #f4f6f8;
  border-bottom: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.header__content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
    a {
      color: black;
    }
    li {
      margin-right: 15px;
      font-size: 20px;
    }
    .li__active {
      border-bottom: 1px solid black;
    }
  }
}

.header__rigth {
  display: flex;
  align-items: center;
  .en {
    padding-right: 3px;
    cursor: pointer;
  }
  .ru {
    padding-left: 3px;
    cursor: pointer;
  }
}
.headermain__burger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  span {
    width: 100%;
    height: 4px;
    background-color: #000;
  }
}
.headermain__theme {
  width: 30px;
  height: 30px;
  border: 2px solid #f1f1f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.them-icon {
  svg {
    color: #fff;
  }
}

.dark {
  background-color: #051b2e;
  border-bottom: 1px solid #56b2fb;
  .headermain__burger {
    span {
      background-color: #0080fa;
    }
  }
  .header__content {
    a {
      color: #0080fa;
    }
  }
  .header__rigth {
    .en,
    .ru {
      color: #0080fa;
    }
    .headermain__theme {
      border: 2px solid #56b2fb;
    }
    .them-icon {
      svg {
        color: #0080fa;
      }
    }
  }
}
