.headermain {
  width: 100%;
  height: 50px;
  background-color: #f4f6f8;
  border-bottom: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.dark {
  background-color: #051b2e;
}

.headermain__burger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  span {
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
}
.headermain__theme {
  width: 30px;
  height: 30px;
  border: 2px solid #f1f1f1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.them-icon {
  svg {
    color: #fff;
  }
}
